.explanation {
    width: 100%;
    height: 100dvh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.explanation>div {
    position: absolute;
    width: 71%;
    height: 92%;
    z-index: 10;
    background-color: white;
    overflow: auto;

    .button {
        position: sticky;
        width: 100%;
        top: 0;
        padding: 15px;
        background-color: white;
        display: flex;
        justify-content: end;
        z-index: 100;
    }

    .button>button {
        position: sticky;
        width: 67px;
        height: 37px;
        border-radius: 100vmax;
        border: none;
        background-color: #2a4e97;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 4px hsl(0, 0%, 44%);

        img {
            width: 28px;
        }
    }

    .button>button:active {
        box-shadow: inset 4px 4px 1px #183a7e;

        img {
            margin-top: 2px;
        }

        >button {
            margin-top: 2px;
        }

    }
}

.explanation .container {
    margin-inline: 30px;
}

.explanation>div>.heading {
    margin-top: 20px;

    h1 {
        font-size: 2em;
    }

    p {
        margin: 20px 0;
    }

}


.explanation>div>.rules {
    margin-block: 25px;
    padding: 25px 20px 0;
    border: 1px solid rgb(134, 133, 133);
    border-radius: 5px;

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    >div {
        margin: 20px 0;
        width: 100%;
        display: grid;
        grid-template-columns: 74% 26%;
        grid-template-rows: auto;

    }
}

.explanation::before {
    content: '';
    background-color: rgba(85, 85, 85, 0.5);
    position: absolute;
    inset: 0;
    z-index: -1;
    backdrop-filter: blur(3.5px);
}

.more-information {
    margin-bottom: 50px;

    >h2 {
        font-size: 1.2em;
        margin-block: 25px;
    }

    >p {
        margin-block: 20px;
    }

    .videos {
        display: flex;
        width: 77.5%;
        margin-inline: auto;
        justify-content: space-between;

        iframe {
            margin-bottom: 8px;
            box-shadow: 5px 5px 5px rgb(167, 167, 167);
        }

        >div {
            width: 279px;
        }

        >div>p {
            font-size: 0.8em;
            color: grey;
        }
    }

    ul {
        a {
            text-decoration: none;
        }
    }
}

.explanation.close {
    visibility: hidden;
    transition-delay: 0.32s;

    >div {
        visibility: hidden;
        opacity: 0;
        transform: translateY(75px);
        transition: 0.3s ease-in-out;
    }
}



.explanation.open {
    visibility: visible;

    >div {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 0.3s ease-in-out;
    }
}

.model-open {
    overflow: hidden;
}